<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="profile">
	<div class="page-container" id="edit_page">
		<div class="page-content">
			<div class="page-header">个人信息</div>

			<form action="http://bishefront.com/index.php?a=page" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="token_id" value="d904e983775a47d25fdd61d1f5a1dd36">
				<div class="page-inner">
					<div class="page-input-container">
						<div class="page-input-title">昵称</div>
						<div class="page-input-content">
							<input type="text" id="userName" name="userName" th:value="${user.username}">
						</div>
					</div>

					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">标题</div>-->
						<!--<div class="page-input-content">-->
							<!--<input type="text" name="page_title" value="">-->
							<!--<div class="page-input-sub">页面标题（将出现在页面的标题上)</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">类别</div>-->
						<!--<div class="page-input-content">-->
							<!--<select name="page_category">-->
								<!--<option value="0">选择一个类别</option>-->
								<!--<option value="1">本地企业或地方</option>-->
								<!--<option value="2">公司、组织或机构</option>-->
								<!--<option value="3">品牌或产品</option>-->
								<!--<option value="4">艺术家、乐队或公众人物</option>-->
								<!--<option value="5">游戏娱乐</option>-->
								<!--<option value="6">事业或社会</option>-->
							<!--</select>-->
							<!--<div class="page-input-sub">网页分类</div>-->
						<!--</div>-->
					<!--</div>-->

					<div class="page-input-container">
						<div class="page-input-title">头像</div>
						<div class="page-input-content">
							<input type="file" name="fileName" id="filename" accept="image/png, image/jpeg, image/jpg" onchange="checkImage()">
							<!--<input name="my_image[]" id="my_file" size="27" type="file" class="inputImage" title="点击添加图片" multiple="multiple">-->
						</div>
					</div>
					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">封面图片</div>-->
						<!--<div class="page-input-content">-->
							<!--<input type="file" name="page_cover[]">-->
							<!--<div class="page-input-sub">页面封面图片</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--
                    <div class="page-input-container">
                        <div class="page-input-title">地址</div>
                        <div class="page-input-content">
                            <input type="text" name="page_address" value="">
                            <div class="page-input-sub">实际地址</div>
                        </div>
                    </div>

                    <div class="page-input-container">
                        <div class="page-input-title">网站</div>
                        <div class="page-input-content">
                            <input type="text" name="page_website" value="">
                            <div class="page-input-sub">网站地址</div>
                        </div>
                    </div>

                    <div class="page-input-container">
                        <div class="page-input-title">电话</div>
                        <div class="page-input-content">
                            <input type="text" name="page_phone" value="">
                            <div class="page-input-sub">电话号码</div>
                        </div>
                    </div>
                    -->
					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">描述</div>-->
						<!--<div class="page-input-content">-->
							<!--<textarea class="ads" name="page_desc"></textarea>-->
							<!--<div class="page-input-sub">页面描述</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>

				<div class="message-divider"></div>

				<div class="page-inner">
					<div class="page-input-title"></div><input type="button" onclick="saveProfile()" value="保存修改"> <span class="sidebar-header-link delete-group" style="display: none;"><a href="http://bishefront.com/index.php?a=page" rel="loadpage">删除页面</a></span>
				</div>

			</form>
		</div>
	</div>
</div>
