<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="profile">
	<div class="page-container" id="edit_page">
		<div class="page-content">
			<div class="page-header">个人主页</div>

			<form action="http://bishefront.com/index.php?a=page" method="POST" enctype="multipart/form-data">
				<input type="hidden" name="token_id" value="d904e983775a47d25fdd61d1f5a1dd36">
				<div class="page-inner">
					<div class="page-input-container">
						<div class="page-input-title">昵称</div>
						<div th:text="${user.username}"></div>
						<!--<div class="page-input-content">-->
							<!--<input type="text" id="userName" name="userName" th:value="${user.username}">-->
						<!--</div>-->
					</div>

					<div class="page-input-container">
						<div class="page-input-title">头像</div>
						<div class="page-input-content">
							<img width="42px" height="42px" th:src="${user.cover}">
						</div>
					</div>
					<div class="page-input-container">
						<div class="page-input-title">添加好友</div>
						<div class="page-input-content">
							<div id="applyForFriend" class="friend-button" style="float:left" title="加为好友" th:onclick="'applyBeFriends('+${user.idu}+')'"></div>
						</div>
					</div>


					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">封面图片</div>-->
						<!--<div class="page-input-content">-->
							<!--<input type="file" name="page_cover[]">-->
							<!--<div class="page-input-sub">页面封面图片</div>-->
						<!--</div>-->
					<!--</div>-->
					<!--
                    <div class="page-input-container">
                        <div class="page-input-title">地址</div>
                        <div class="page-input-content">
                            <input type="text" name="page_address" value="">
                            <div class="page-input-sub">实际地址</div>
                        </div>
                    </div>

                    <div class="page-input-container">
                        <div class="page-input-title">网站</div>
                        <div class="page-input-content">
                            <input type="text" name="page_website" value="">
                            <div class="page-input-sub">网站地址</div>
                        </div>
                    </div>

                    <div class="page-input-container">
                        <div class="page-input-title">电话</div>
                        <div class="page-input-content">
                            <input type="text" name="page_phone" value="">
                            <div class="page-input-sub">电话号码</div>
                        </div>
                    </div>
                    -->
					<!--<div class="page-input-container">-->
						<!--<div class="page-input-title">描述</div>-->
						<!--<div class="page-input-content">-->
							<!--<textarea class="ads" name="page_desc"></textarea>-->
							<!--<div class="page-input-sub">页面描述</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>

				<div class="message-divider"></div>

				<!--<div class="page-inner">-->
					<!--<div class="page-input-title"></div><input type="button" onclick="saveProfile()" value="保存修改"> <span class="sidebar-header-link delete-group" style="display: none;"><a href="http://bishefront.com/index.php?a=page" rel="loadpage">删除页面</a></span>-->
				<!--</div>-->

			</form>
		</div>
	</div>
</div>
