<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="apply">
    <div th:each="apply : ${applyList}" class="notification-row" th:id="notification+${apply.id}">
        <div class="notification-padding">
            <div class="notification-image"><a href="http://bishefront.com/index.php?a=profile&amp;u=123"><img
                    class="notifications"
                    src="http://localhost:8080/images/icons/whoami.png"></a></div>
            <div class="notification-text notification-friendships"><a
                    th:text="${apply.applyusername}"
                    href="http://bishefront.com/index.php?a=profile&amp;u=123" rel="loadpage"></a><br><span
                    class="timeago" th:title="${apply.time}">8 hours ago</span></div>
            <div class="notification-buttons" >
                <div class="notification-button button-normal"><a th:onclick="'dealFriends('+${apply.id}+',0)'">拒绝</a></div>
                <div class="notification-button button-active"><a th:onclick="'dealFriends('+${apply.id}+',1)'">接受</a></div>
            </div>
        </div>
    </div>

</div>
</html>