<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="noticeitem(notice)">
    <div class="notification-row" th:id="notification+${notice.id}"><div class="notification-padding"><div class="notification-image"><a href="http://bishefront.com/index.php?a=profile&amp;u=122" rel="loadpage"><img class="notifications" src="http://bishefront.com/thumb.php?src=default.png&amp;t=a&amp;w=50&amp;h=50&quot;"></a></div><div class="notification-text"><a th:text="${notice.username}" href="http://bishefront.com/index.php?a=profile&amp;u=122" rel="loadpage">122</a> <span th:text="${notice.operate}"></span> <a href="http://bishefront.com/index.php?a=post&amp;m=31#10" rel="loadpage">message</a>.<br><img src="http://bishefront.com/themes/dolphin/images/icons/n_comment.png" width="16" height="16"><span class="timeago" title="${notice.time}">a month ago</span></div></div></div>
</div>
</html>