<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="noticeitem(notice)">
    <div class="notification-row" th:id="notification+${notice.id}"><div class="notification-padding"><div class="notification-image"><a href="http://bishefront.com/index.php?a=profile&amp;u=122" rel="loadpage"><img class="notifications" src="http://localhost:8080/images/icons/whoami.png"></a></div><div class="notification-text"><a th:text="${notice.username}" href="http://bishefront.com/index.php?a=profile&amp;u=122" rel="loadpage">122</a> <span th:text="${notice.operate}"></span> <a th:href="${notice.operateurl}">message</a>.<br><img src="http://bishefront.com/themes/dolphin/images/icons/n_comment.png" width="16" height="16"><span class="timeago" title="${notice.time}">a month ago</span></div></div></div>
</div>
</html>