<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="creategroup">
	<div class="page-container" id="edit_group">
		<div class="page-content">
			<!--<div th:test="${group}==''">sssssss</div>-->
			<div  class="page-header">群组</div>
			<!--<div th:test="${group}!=''" class="page-header" th:text="${group.name}"></div>-->
			<form action="{$url}/index.php?a=group{$edit_url}" method="POST" enctype="multipart/form-data">
				<div class="page-inner">
					<div class="page-input-container">
						<div class="page-input-title">组名</div>
						<div class="page-input-content">
							<input type="text" id="group_name" name="group_name" placeholder="请输入组名">
						</div>
					</div>

					<div class="page-input-container">
						<div class="page-input-title">请选择组封面</div>
						<div class="page-input-content">
							<!--<input type="file" id="group_cover" name="group_cover[]">-->
							<input type="file" name="group_cover" id="group_cover" accept="image/png, image/jpeg, image/jpg">

							<div class="page-input-sub">组封面</div>
						</div>
					</div>

					<div class="page-input-container">
						<div class="page-input-title">请选择公开程度</div>
						<div class="page-input-content">
							<select id="group_privacy" name="group_privacy">
								<option value="0">公开</option>
								<option value="1">私人</option>
							</select>
						</div>
					</div>

					<div class="page-input-container">
						<div class="page-input-title">组描述</div>
						<div class="page-input-content">
							<textarea class="ads" name="group_desc" id="group_desc" placeholder="描述"></textarea>
						</div>
					</div>
				</div>

				<div class="message-divider"></div>

				<div class="page-inner">
					<div class="page-input-title"></div><input type="submit" onclick="createGroup()" value="创建组"> <span class="sidebar-header-link delete-group"{$style}><a href="{$url}/index.php?a=group{$delete_url}" rel="loadpage">删除组</a></span>
				</div>
			</form>
		</div>
	</div>
</div>
