<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
	<!--{$plugins}-->
	<div class="row-welcome{$content_class}" >
		<div class="row-body">
			<div class="welcome-inner">
				<div class="welcome-message">
					<div class="welcome-title">
						欢迎使用ZUCC SOCIAL WEBSITE
					</div>
					<div class="welcome-desc">
						来这里交友娱乐吧！这是你的空间！
					</div>
					<div class="welcome-about">
						时代在召唤
					</div>
				</div>
				<div class="welcome-inputs">
					<form action="/user/register" method="POST" autocomplete="off">
						<!--{$registerMsg}-->
						<!--<input type="text" id="short" name="first_name" placeholder="{$lng->first_name}">-->
						<!--<input type="text" id="short" name="last_name" placeholder="{$lng->last_name}">-->
						<input type="text" id="short" name="username" placeholder="用户名">
						<input type="password" id="short" name="password" placeholder="用户密码">
						<input type="text" id="short" name="email" placeholder="邮箱">
						<!--{$captcha}-->
						<button type="submit" name="register"  class="register-button">注册</button>
					</form>
					<br>
					<div  th:text="${succmsg}" style="color:red;font-size:20px"></div>
					<div  th:text="${errormsg}" style="color:red;font-size:20px"></div>
					<form action="/user/login" method="POST" autocomplete="off">

						<input type="text" id="short" name="username" placeholder="用户名或邮箱">
						<input type="password" id="short" name="password" placeholder="密码">
						<!--<input type="checkbox" name="remember" value="1">-->
						<button type="submit" name="login" class="login-button">登录</button><span class="forgot-password">
						<!--<a href="{$url}/index.php?a=recover" rel="loadpage">忘记密码</a></span>-->

					</form>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="welcome-full welcome-white">-->
		<!--<div class="welcome-inner">-->
			<!--<div class="welcome-row-title">{$lng->latest_users}</div>-->
			<!--{$rows}-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="welcome-full">-->
		<!--<div class="welcome-inner">-->
			<!--<div class="welcome-box">-->
				<!--<div class="welcome-box-title">-->
					<!--{$lng->welcome_one}-->
				<!--</div>-->
				<!--<div class="welcome-box-desc">-->
					<!--{$lng->welcome_one_desc}-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="welcome-box">-->
				<!--<div class="welcome-box-title">-->
					<!--{$lng->welcome_two}-->
				<!--</div>-->
				<!--<div class="welcome-box-desc">-->
					<!--{$lng->welcome_two_desc}-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="welcome-box">-->
				<!--<div class="welcome-box-title">-->
					<!--{$lng->welcome_three}-->
				<!--</div>-->
				<!--<div class="welcome-box-desc">-->
					<!--{$lng->welcome_three_desc}-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--{$ad}-->
</div>

</html>