<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>主页</title>
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<link href="/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
	baseUrl = '{$url}';
	token_id = '{$token_id}';
</script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.timeago.js"></script>
<script type="text/javascript" src="/js/functions.js"></script>{$styles}{$scripts}
<script>
	getLocation2();
</script>
</head>
<body>
<div id="loading-bar"><dd></dd><dt></dt></div>
<div class="topbar">
	<div class="header">
		<a href="http://localhost:8080/user/login"><div class="menu_btn logo-container"><div class="logo"></div></div></a>
		<div class="search-input"><input type="text" id="search" placeholder="搜索" autocomplete="off" value="{$current_search}"></div>
		<div id="menu" th:include="shared/menu::menu"></div>
	</div>
	<div class="search-container"></div>
</div>

<div id="content" th:include="${viewattr.fragment_path} :: ${viewattr.fragment_id}">
</div>

<div id="share">
	<div class="modal-container">
		<div class="modal-inner">
			<div class="modal-title">{$lng->share}</div>
		</div>
		<div class="message-divider"></div>
		<div class="modal-inner">
			<div class="modal-desc" id="share-desc">{$lng->share_desc}</div>
			<div class="modal-result" id="share-result"></div>
		</div>
		<div class="message-divider"></div>
		<div class="modal-menu">
			<div class="modal-cancel button-normal" id="share-cancel"><a onclick="doShare(0, 0)">{$lng->cancel}</a></div>
			<div class="modal-btn button-active" id="share-btn"><a>{$lng->share}</a></div>
			<div class="modal-close button-normal" id="share-close"><a onclick="doShare(0, 0)">{$lng->close}</a></div>
		</div>
	</div>
</div>
<div id="delete">
	<div class="modal-container">
		<div class="modal-inner">
			<div class="modal-title">{$lng->delete}</div>
		</div>
		<div class="message-divider"></div>
		<div class="modal-inner">
			<div class="modal-desc" id="delete0">{$lng->delete_q_comment}</div>
			<div class="modal-desc" id="delete1">{$lng->delete_q_message}</div>
			<div class="modal-desc" id="delete2">{$lng->delete_q_chat}</div>
			<div class="modal-result"></div>
		</div>
		<div class="message-divider"></div>
		<div class="modal-menu">
			<div class="modal-cancel button-normal" id="delete-cancel"><a onclick="deleteModal(0, 999)">{$lng->cancel}</a></div>
			<div class="modal-btn button-active" id="delete-btn"><a>{$lng->delete}</a></div>
		</div>
	</div>
</div>
<div class="modal-background"></div>
<div class="footer">
	<!--<div class="footer-container">-->
		<!--<div class="footer-links">-->
			<!--<a href="{$url}/index.php?a=info&b=tos" rel="loadpage">{$lng->terms_of_use}</a> - -->
			<!--<a href="{$url}/index.php?a=info&b=privacy" rel="loadpage">{$lng->privacy_policy}</a> - -->
			<!--<a href="{$url}/index.php?a=info&b=disclaimer" rel="loadpage">{$lng->disclaimer}</a> - -->
			<!--<a href="{$url}/index.php?a=info&b=api" rel="loadpage">{$lng->developers}</a> - -->
			<!--<a href="{$url}/index.php?a=info&b=contact" rel="loadpage">{$lng->contact}</a> - -->
			<!--<a href="{$url}/index.php?a=info&b=about" rel="loadpage">{$lng->about}</a> - -->
			<!--<a href="{$url}/index.php?a=admin" rel="loadpage">{$lng->title_admin}</a>-->
		<!--</div>-->
		<!--<div class="footer-languages">-->
			<!--{$lng->language}: {$language}-->
		<!--</div>-->
		<!--<div class="footer-languages">-->
			<!--Copyright &copy; {$year} {$footer}. {$lng->all_rights_reserved}. {$powered_by}-->
		<!--</div>-->
	</div>
</div>
<!--{$tracking_code}-->
</body>
</html>