<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.ChatMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Chat" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from" property="from" jdbcType="INTEGER" />
    <result column="to" property="to" jdbcType="INTEGER" />
    <result column="read" property="read" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chat
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.Chat" >
    insert into chat (id, `from`, `to`, 
      `read`, `time`, message
      )
    values (#{id,jdbcType=INTEGER}, #{from,jdbcType=INTEGER}, #{to,jdbcType=INTEGER}, 
      #{read,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{message,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.Chat" >
    update chat
    set `from` = #{from,jdbcType=INTEGER},
      `to` = #{to,jdbcType=INTEGER},
      `read` = #{read,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `from`, `to`, `read`, `time`, message
    from chat
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `from`, `to`, `read`, `time`, message
    from chat
  </select>
</mapper>