<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.LikesMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Likes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="INTEGER" />
    <result column="by" property="by" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from likes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.Likes" >
    insert into likes (id, post, `by`, 
      `type`, `time`)
    values (#{id,jdbcType=INTEGER}, #{post,jdbcType=INTEGER}, #{by,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.Likes" >
    update likes
    set post = #{post,jdbcType=INTEGER},
      `by` = #{by,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByBy" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, post, `by`, `type`, `time`
    from likes
    where `by` = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserIdandPostId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, post, `by`, `type`, `time`
    from likes
    where post = #{postId,jdbcType=INTEGER}
    and `by` = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, post, `by`, `type`, `time`
    from likes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, post, `by`, `type`, `time`
    from likes
  </select>
</mapper>