<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.MessagesMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Messages" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="group" property="group" jdbcType="INTEGER" />
    <result column="page" property="page" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="public_state" property="public_state" jdbcType="INTEGER" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="isPushed" property="isPushed" jdbcType="TINYINT" />
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from messages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.Messages" useGeneratedKeys="true" keyProperty="id">
    insert into messages (id, `uid`, tag, 
      `type`, `value`, `group`, 
      page, `time`, public_state, 
      likes, longitude, latitude, 
      isPushed, message)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{group,jdbcType=INTEGER}, 
      #{page,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{public_state,jdbcType=INTEGER}, 
      #{likes,jdbcType=INTEGER}, #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, 
      #{isPushed,jdbcType=TINYINT}, #{message,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.Messages" >
    update messages
    set `uid` = #{uid,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      `group` = #{group,jdbcType=INTEGER},
      page = #{page,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      public_state = #{public_state,jdbcType=INTEGER},
      likes = #{likes,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      isPushed = #{isPushed,jdbcType=TINYINT},
      message = #{message,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `uid`, tag, `type`, `value`, `group`, page, `time`, public_state, likes, 
    longitude, latitude, isPushed, message
    from messages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `uid`, tag, `type`, `value`, `group`, page, `time`, public_state, likes,
    longitude, latitude, isPushed, message
    from messages
  </select>
  <select id="getMessageList" resultMap="BaseResultMap" >
    select id, `uid`, tag, `type`, `value`, `group`, page, `time`, public_state, likes,
    longitude, latitude, isPushed, message
    from messages
    where uid = #{userId,jdbcType=INTEGER}
    offset #{offset,jdbcType=INTEGER}
    limit #{limit,jdbcType=INTEGER}
  </select>

</mapper>