<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.NotificationsMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Notifications" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from" property="from" jdbcType="INTEGER" />
    <result column="to" property="to" jdbcType="INTEGER" />
    <result column="parent" property="parent" jdbcType="INTEGER" />
    <result column="child" property="child" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="read" property="read" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from notifications
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.Notifications" >
    insert into notifications (id, `from`, `to`, 
      parent, child, `type`, 
      `read`, `time`)
    values (#{id,jdbcType=INTEGER}, #{from,jdbcType=INTEGER}, #{to,jdbcType=INTEGER}, 
      #{parent,jdbcType=INTEGER}, #{child,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{read,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.Notifications" >
    update notifications
    set `from` = #{from,jdbcType=INTEGER},
      `to` = #{to,jdbcType=INTEGER},
      parent = #{parent,jdbcType=INTEGER},
      child = #{child,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `read` = #{read,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, `from`, `to`, parent, child, `type`, `read`, `time`
    from notifications
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, `from`, `to`, parent, child, `type`, `read`, `time`
    from notifications
  </select>
</mapper>