<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.ReportsMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Reports" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="by" property="by" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from reports
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.Reports" >
    insert into reports (id, post, parent, 
      `type`, `by`, `state`, `time`
      )
    values (#{id,jdbcType=INTEGER}, #{post,jdbcType=VARCHAR}, #{parent,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{by,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.Reports" >
    update reports
    set post = #{post,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=INTEGER},
      `type` = #{type,jdbcType=INTEGER},
      `by` = #{by,jdbcType=INTEGER},
      `state` = #{state,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, post, parent, `type`, `by`, `state`, `time`
    from reports
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, post, parent, `type`, `by`, `state`, `time`
    from reports
  </select>
</mapper>