<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.SettingsMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Settings" >
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="perpage" property="perpage" jdbcType="INTEGER" />
    <result column="censor" property="censor" jdbcType="VARCHAR" />
    <result column="captcha" property="captcha" jdbcType="INTEGER" />
    <result column="intervalm" property="intervalm" jdbcType="INTEGER" />
    <result column="intervaln" property="intervaln" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="INTEGER" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="format" property="format" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="INTEGER" />
    <result column="sizemsg" property="sizemsg" jdbcType="INTEGER" />
    <result column="formatmsg" property="formatmsg" jdbcType="VARCHAR" />
    <result column="cperpage" property="cperpage" jdbcType="INTEGER" />
    <result column="ilimit" property="ilimit" jdbcType="INTEGER" />
    <result column="climit" property="climit" jdbcType="INTEGER" />
    <result column="uperpage" property="uperpage" jdbcType="INTEGER" />
    <result column="sperpage" property="sperpage" jdbcType="INTEGER" />
    <result column="nperpage" property="nperpage" jdbcType="TINYINT" />
    <result column="nperwidget" property="nperwidget" jdbcType="TINYINT" />
    <result column="lperpost" property="lperpost" jdbcType="INTEGER" />
    <result column="aperip" property="aperip" jdbcType="INTEGER" />
    <result column="conline" property="conline" jdbcType="INTEGER" />
    <result column="ronline" property="ronline" jdbcType="TINYINT" />
    <result column="mperpage" property="mperpage" jdbcType="TINYINT" />
    <result column="verified" property="verified" jdbcType="INTEGER" />
    <result column="chatr" property="chatr" jdbcType="INTEGER" />
    <result column="email_activation" property="email_activation" jdbcType="TINYINT" />
    <result column="email_comment" property="email_comment" jdbcType="TINYINT" />
    <result column="email_like" property="email_like" jdbcType="TINYINT" />
    <result column="email_new_friend" property="email_new_friend" jdbcType="TINYINT" />
    <result column="email_group_invite" property="email_group_invite" jdbcType="TINYINT" />
    <result column="email_page_invite" property="email_page_invite" jdbcType="TINYINT" />
    <result column="smiles" property="smiles" jdbcType="TINYINT" />
    <result column="fbapp" property="fbapp" jdbcType="INTEGER" />
    <result column="fbappid" property="fbappid" jdbcType="VARCHAR" />
    <result column="fbappsecret" property="fbappsecret" jdbcType="VARCHAR" />
    <result column="smtp_email" property="smtp_email" jdbcType="INTEGER" />
    <result column="smtp_host" property="smtp_host" jdbcType="VARCHAR" />
    <result column="smtp_port" property="smtp_port" jdbcType="INTEGER" />
    <result column="smtp_auth" property="smtp_auth" jdbcType="INTEGER" />
    <result column="smtp_username" property="smtp_username" jdbcType="VARCHAR" />
    <result column="smtp_password" property="smtp_password" jdbcType="VARCHAR" />
    <result column="ad1" property="ad1" jdbcType="LONGVARCHAR" />
    <result column="ad2" property="ad2" jdbcType="LONGVARCHAR" />
    <result column="ad3" property="ad3" jdbcType="LONGVARCHAR" />
    <result column="ad4" property="ad4" jdbcType="LONGVARCHAR" />
    <result column="ad5" property="ad5" jdbcType="LONGVARCHAR" />
    <result column="ad6" property="ad6" jdbcType="LONGVARCHAR" />
    <result column="ad7" property="ad7" jdbcType="LONGVARCHAR" />
    <result column="tracking_code" property="tracking_code" jdbcType="LONGVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.bishe.model.Settings" >
    insert into settings (title, theme, perpage, 
      censor, captcha, intervalm, 
      intervaln, `time`, message, 
      `size`, format, mail, 
      sizemsg, formatmsg, cperpage, 
      ilimit, climit, uperpage, 
      sperpage, nperpage, nperwidget, 
      lperpost, aperip, conline, 
      ronline, mperpage, verified, 
      chatr, email_activation, email_comment, 
      email_like, email_new_friend, email_group_invite, 
      email_page_invite, smiles, fbapp, 
      fbappid, fbappsecret, smtp_email, 
      smtp_host, smtp_port, smtp_auth, 
      smtp_username, smtp_password, ad1, 
      ad2, ad3, ad4, 
      ad5, ad6, ad7, 
      tracking_code)
    values (#{title,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}, #{perpage,jdbcType=INTEGER}, 
      #{censor,jdbcType=VARCHAR}, #{captcha,jdbcType=INTEGER}, #{intervalm,jdbcType=INTEGER}, 
      #{intervaln,jdbcType=INTEGER}, #{time,jdbcType=INTEGER}, #{message,jdbcType=INTEGER}, 
      #{size,jdbcType=INTEGER}, #{format,jdbcType=VARCHAR}, #{mail,jdbcType=INTEGER}, 
      #{sizemsg,jdbcType=INTEGER}, #{formatmsg,jdbcType=VARCHAR}, #{cperpage,jdbcType=INTEGER}, 
      #{ilimit,jdbcType=INTEGER}, #{climit,jdbcType=INTEGER}, #{uperpage,jdbcType=INTEGER}, 
      #{sperpage,jdbcType=INTEGER}, #{nperpage,jdbcType=TINYINT}, #{nperwidget,jdbcType=TINYINT}, 
      #{lperpost,jdbcType=INTEGER}, #{aperip,jdbcType=INTEGER}, #{conline,jdbcType=INTEGER}, 
      #{ronline,jdbcType=TINYINT}, #{mperpage,jdbcType=TINYINT}, #{verified,jdbcType=INTEGER}, 
      #{chatr,jdbcType=INTEGER}, #{email_activation,jdbcType=TINYINT}, #{email_comment,jdbcType=TINYINT}, 
      #{email_like,jdbcType=TINYINT}, #{email_new_friend,jdbcType=TINYINT}, #{email_group_invite,jdbcType=TINYINT}, 
      #{email_page_invite,jdbcType=TINYINT}, #{smiles,jdbcType=TINYINT}, #{fbapp,jdbcType=INTEGER}, 
      #{fbappid,jdbcType=VARCHAR}, #{fbappsecret,jdbcType=VARCHAR}, #{smtp_email,jdbcType=INTEGER}, 
      #{smtp_host,jdbcType=VARCHAR}, #{smtp_port,jdbcType=INTEGER}, #{smtp_auth,jdbcType=INTEGER}, 
      #{smtp_username,jdbcType=VARCHAR}, #{smtp_password,jdbcType=VARCHAR}, #{ad1,jdbcType=LONGVARCHAR}, 
      #{ad2,jdbcType=LONGVARCHAR}, #{ad3,jdbcType=LONGVARCHAR}, #{ad4,jdbcType=LONGVARCHAR}, 
      #{ad5,jdbcType=LONGVARCHAR}, #{ad6,jdbcType=LONGVARCHAR}, #{ad7,jdbcType=LONGVARCHAR}, 
      #{tracking_code,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select title, theme, perpage, censor, captcha, intervalm, intervaln, `time`, message, 
    `size`, format, mail, sizemsg, formatmsg, cperpage, ilimit, climit, uperpage, sperpage, 
    nperpage, nperwidget, lperpost, aperip, conline, ronline, mperpage, verified, chatr, 
    email_activation, email_comment, email_like, email_new_friend, email_group_invite, 
    email_page_invite, smiles, fbapp, fbappid, fbappsecret, smtp_email, smtp_host, smtp_port, 
    smtp_auth, smtp_username, smtp_password, ad1, ad2, ad3, ad4, ad5, ad6, ad7, tracking_code
    from settings
  </select>
</mapper>