<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.User" >
    <id column="idu" property="idu" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="first_name" property="first_name" jdbcType="VARCHAR" />
    <result column="last_name" property="last_name" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="bio" property="bio" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="facebook" property="facebook" jdbcType="VARCHAR" />
    <result column="twitter" property="twitter" jdbcType="VARCHAR" />
    <result column="gplus" property="gplus" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="private_states" property="private_states" jdbcType="INTEGER" />
    <result column="suspended" property="suspended" jdbcType="INTEGER" />
    <result column="salted" property="salted" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="verified" property="verified" jdbcType="INTEGER" />
    <result column="privacy" property="privacy" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="interests" property="interests" jdbcType="TINYINT" />
    <result column="online" property="online" jdbcType="INTEGER" />
    <result column="offline" property="offline" jdbcType="TINYINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="user_group" property="user_group" jdbcType="INTEGER" />
    <result column="notificationl" property="notificationl" jdbcType="TINYINT" />
    <result column="notificationc" property="notificationc" jdbcType="TINYINT" />
    <result column="notifications" property="notifications" jdbcType="TINYINT" />
    <result column="notificationd" property="notificationd" jdbcType="TINYINT" />
    <result column="notificationf" property="notificationf" jdbcType="TINYINT" />
    <result column="notificationg" property="notificationg" jdbcType="TINYINT" />
    <result column="notificationx" property="notificationx" jdbcType="TINYINT" />
    <result column="notificationp" property="notificationp" jdbcType="TINYINT" />
    <result column="email_comment" property="email_comment" jdbcType="TINYINT" />
    <result column="email_like" property="email_like" jdbcType="TINYINT" />
    <result column="email_new_friend" property="email_new_friend" jdbcType="TINYINT" />
    <result column="email_group_invite" property="email_group_invite" jdbcType="TINYINT" />
    <result column="email_page_invite" property="email_page_invite" jdbcType="TINYINT" />
    <result column="sound_new_notification" property="sound_new_notification" jdbcType="TINYINT" />
    <result column="sound_new_chat" property="sound_new_chat" jdbcType="TINYINT" />
    <result column="born" property="born" jdbcType="DATE" />
    <result column="lastloginlat" property="lastloginlat" jdbcType="DOUBLE" />
    <result column="lastloginlong" property="lastloginlong" jdbcType="DOUBLE" />
    <result column="push" property="push" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where idu = #{idu,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bishe.model.User" >
    insert into user (idu, username, `password`, 
      email, first_name, last_name, 
      country, `location`, address, 
      `work`, school, website, 
      bio, `date`, facebook, twitter, 
      gplus, image, private_states, 
      suspended, salted, cover, 
      verified, privacy, gender, 
      interests, `online`, `offline`, 
      ip, user_group, notificationl, 
      notificationc, notifications, notificationd, 
      notificationf, notificationg, notificationx, 
      notificationp, email_comment, email_like, 
      email_new_friend, email_group_invite, email_page_invite, 
      sound_new_notification, sound_new_chat, 
      born, lastloginlat, lastloginlong, 
      push)
    values (#{idu,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{first_name,jdbcType=VARCHAR}, #{last_name,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{work,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{bio,jdbcType=VARCHAR}, #{date,jdbcType=DATE}, #{facebook,jdbcType=VARCHAR}, #{twitter,jdbcType=VARCHAR}, 
      #{gplus,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{private_states,jdbcType=INTEGER}, 
      #{suspended,jdbcType=INTEGER}, #{salted,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, 
      #{verified,jdbcType=INTEGER}, #{privacy,jdbcType=INTEGER}, #{gender,jdbcType=TINYINT}, 
      #{interests,jdbcType=TINYINT}, #{online,jdbcType=INTEGER}, #{offline,jdbcType=TINYINT}, 
      #{ip,jdbcType=VARCHAR}, #{user_group,jdbcType=INTEGER}, #{notificationl,jdbcType=TINYINT}, 
      #{notificationc,jdbcType=TINYINT}, #{notifications,jdbcType=TINYINT}, #{notificationd,jdbcType=TINYINT}, 
      #{notificationf,jdbcType=TINYINT}, #{notificationg,jdbcType=TINYINT}, #{notificationx,jdbcType=TINYINT}, 
      #{notificationp,jdbcType=TINYINT}, #{email_comment,jdbcType=TINYINT}, #{email_like,jdbcType=TINYINT}, 
      #{email_new_friend,jdbcType=TINYINT}, #{email_group_invite,jdbcType=TINYINT}, #{email_page_invite,jdbcType=TINYINT}, 
      #{sound_new_notification,jdbcType=TINYINT}, #{sound_new_chat,jdbcType=TINYINT}, 
      #{born,jdbcType=DATE}, #{lastloginlat,jdbcType=DOUBLE}, #{lastloginlong,jdbcType=DOUBLE}, 
      #{push,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bishe.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      first_name = #{first_name,jdbcType=VARCHAR},
      last_name = #{last_name,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      `location` = #{location,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      `work` = #{work,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      bio = #{bio,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=DATE},
      facebook = #{facebook,jdbcType=VARCHAR},
      twitter = #{twitter,jdbcType=VARCHAR},
      gplus = #{gplus,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      private_states = #{private_states,jdbcType=INTEGER},
      suspended = #{suspended,jdbcType=INTEGER},
      salted = #{salted,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      verified = #{verified,jdbcType=INTEGER},
      privacy = #{privacy,jdbcType=INTEGER},
      gender = #{gender,jdbcType=TINYINT},
      interests = #{interests,jdbcType=TINYINT},
      `online` = #{online,jdbcType=INTEGER},
      `offline` = #{offline,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      user_group = #{user_group,jdbcType=INTEGER},
      notificationl = #{notificationl,jdbcType=TINYINT},
      notificationc = #{notificationc,jdbcType=TINYINT},
      notifications = #{notifications,jdbcType=TINYINT},
      notificationd = #{notificationd,jdbcType=TINYINT},
      notificationf = #{notificationf,jdbcType=TINYINT},
      notificationg = #{notificationg,jdbcType=TINYINT},
      notificationx = #{notificationx,jdbcType=TINYINT},
      notificationp = #{notificationp,jdbcType=TINYINT},
      email_comment = #{email_comment,jdbcType=TINYINT},
      email_like = #{email_like,jdbcType=TINYINT},
      email_new_friend = #{email_new_friend,jdbcType=TINYINT},
      email_group_invite = #{email_group_invite,jdbcType=TINYINT},
      email_page_invite = #{email_page_invite,jdbcType=TINYINT},
      sound_new_notification = #{sound_new_notification,jdbcType=TINYINT},
      sound_new_chat = #{sound_new_chat,jdbcType=TINYINT},
      born = #{born,jdbcType=DATE},
      lastloginlat = #{lastloginlat,jdbcType=DOUBLE},
      lastloginlong = #{lastloginlong,jdbcType=DOUBLE},
      push = #{push,jdbcType=TINYINT}
    where idu = #{idu,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select idu, username, `password`, email, first_name, last_name, country, `location`, 
    address, `work`, school, website, bio, `date`, facebook, twitter, gplus, image, private_states, 
    suspended, salted, cover, verified, privacy, gender, interests, `online`, `offline`, 
    ip, user_group, notificationl, notificationc, notifications, notificationd, notificationf, 
    notificationg, notificationx, notificationp, email_comment, email_like, email_new_friend, 
    email_group_invite, email_page_invite, sound_new_notification, sound_new_chat, born, 
    lastloginlat, lastloginlong, push
    from user
    where idu = #{idu,jdbcType=INTEGER}
  </select>

  <select id="selectByLikeUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select idu, username, `password`, email, first_name, last_name, country, `location`,
    address, `work`, school, website, bio, `date`, facebook, twitter, gplus, image, private_states,
    suspended, salted, cover, verified, privacy, gender, interests, `online`, `offline`,
    ip, user_group, notificationl, notificationc, notifications, notificationd, notificationf,
    notificationg, notificationx, notificationp, email_comment, email_like, email_new_friend,
    email_group_invite, email_page_invite, sound_new_notification, sound_new_chat, born,
    lastloginlat, lastloginlong, push
    from user
    where username like CONCAT('%',#{userName,jdbcType=VARCHAR},'%')
  </select>

  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select idu, username, `password`, email, first_name, last_name, country, `location`,
    address, `work`, school, website, bio, `date`, facebook, twitter, gplus, image, private_states,
    suspended, salted, cover, verified, privacy, gender, interests, `online`, `offline`,
    ip, user_group, notificationl, notificationc, notifications, notificationd, notificationf,
    notificationg, notificationx, notificationp, email_comment, email_like, email_new_friend,
    email_group_invite, email_page_invite, sound_new_notification, sound_new_chat, born,
    lastloginlat, lastloginlong, push
    from user
    where username = #{userName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select idu, username, `password`, email, first_name, last_name, country, `location`, 
    address, `work`, school, website, bio, `date`, facebook, twitter, gplus, image, private_states, 
    suspended, salted, cover, verified, privacy, gender, interests, `online`, `offline`, 
    ip, user_group, notificationl, notificationc, notifications, notificationd, notificationf, 
    notificationg, notificationx, notificationp, email_comment, email_like, email_new_friend, 
    email_group_invite, email_page_invite, sound_new_notification, sound_new_chat, born, 
    lastloginlat, lastloginlong, push
    from user
  </select>
</mapper>