<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.dao.UsercommentviewMapper" >
  <resultMap id="BaseResultMap" type="com.bishe.model.Usercommentview" >
    <result column="idu" property="idu" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="mid" property="mid" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="LONGVARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.bishe.model.Usercommentview" >
    insert into usercommentview (idu, id, `uid`, 
      mid, `time`, likes, 
      username, message, cover)
    values (#{idu,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{mid,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{likes,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{message,jdbcType=LONGVARCHAR},#{cover,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select idu, id, `uid`, mid, `time`, likes, username, message, cover
    from usercommentview
  </select>
  <select id="selectByMid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select idu, id, `uid`, mid, `time`, likes, username, message, cover
    from usercommentview
    where mid = #{mid,jdbcType=INTEGER}
    order by mid desc
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select idu, id, `uid`, mid, `time`, likes, username, message, cover
    from usercommentview
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>